[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
[submodule "app/models/spec"]
	path = app/models/spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
